[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
python-decouple = "*"
django-filter = "*"
reportlab = "*"
openpyxl = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.14"
